
@charset"UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @font-face{ 
        font-family: 'Android';
        src: url('../fontes/idroid.otf') format('opentype');
        font-weight: normal;

            

 }
     
 

:root{
--cor01: #c5ebd6;
--cor02: #83e1ad;
--cor03: #3ddc84;
--cor04: #2fa866;
--cor05: #1a5c37;
--cor06: #063d1e;
--fonte-padrão: Arial, verdana, Helvetica, sans-serif;
--fonte-destaque:"Bebas Neue", serif;
--fonte-android: 'Android','cursive';
}
*{  
    margin:0px;
    padding:0px;
}
body{
    background-color: var(--cor01);
    font-family: var(--fonte-padrão);
header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
a.externo::after{
    content: "\00A0\1F517";

}

}
header>h1{
     color:white;
     margin-bottom: 20px;
     font-family: var(--fonte-destaque);
     font-size: 3em;
     text-shadow: 2px 2px 0px #000000a8;
     
    
}
header>p{
    max-width: 600;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--fonte-padrão);
    font-size: 2em;
    text-shadow: 2px 2px 0px #00000096;
    margin-bottom: 20px;
    color:white

    
}
nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgb(0,0,0, 0.192blue);
    font-weight: bold;
}
nav > a {
    color:var(--cor01);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration:  1s ;
}
nav > a:hover{
    background-color: var(--cor02);
    color:var(--cor04)

}
main{
    
    min-width: 300px;
    max-width: 1000px;
 
    background-color: white;
    margin:auto;
    margin-bottom: 30 px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
   



}
main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor01);
    color: var(--cor05);
    padding: 8px 6px;
}
main a :hover{
    text-decoration: underline;
    color: var(--cor05);
    
}
main strong{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;

}
main h1{
color: var(--cor05);
font-family: var(--fonte-android);
   
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor01),
    transparent);
    text-indent: 8px;

}
main img{
    width: 100%;
}
main img.pequena{
    
    max-width:  350px;
    padding: 40px;
    display: block;
    margin: auto;
    padding: 20px;
}
div.video{
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.7% ;
    position: relative;


} 
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

} 
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.671);
    
}  
aside > h3{
    background-color: var(--cor04);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: white
    

    
}
aside >ul{
    list-style-position:inside ;
    columns: 2;

}
footer{
    margin: 10px;
    padding: 5px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
    background-color: var(--cor05);
    color:white
}
footer > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}